<nav class="navbar navbar-expand-lg" style="background-color: #f0f9f4;" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/landing-page">Online Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="landing-page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item" *ngIf="activeUser?.role==='admin'">
          <a class="nav-link active" routerLink="/manage-users">Manage Users</a>
        </li>
        <li class="nav-item" *ngIf="activeUser === null">
          <a class="nav-link active" routerLink="/log-in">Sign Up</a>
        </li>
      </ul>
      <div class="navic d-flex align-items-center ms-auto">
        <a *ngIf="activeUser?.role==='user'" class="fs-5 text-dark" routerLink="/cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a class="mx-3 fs-5 text-dark" routerLink="/profile">
          <i class="fa-duotone fa-solid fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
